body {
  background-image: url("badass.jpg");
  background-repeat: no-repeat. repeat;
  background-size: cover;
  background-color: #b0a7b0;
  background-attachment: fixed;
  font-family: monospace;
  margin: 30px;
  color: #a432a8;
  font-size: 20px;
}

h1 {
  color: black;
  text-align: center;

}

h2, h3 {
  color: #32a8a4;

}

h6 {
  color: #32a8a4;

}

table {
  border: 5px solid #32a8a4;
  border-collapse: collapse;
  padding: 20px;
  font-weight: bold;
  font-size: 15px;
  background-color: rgba(117, 190, 218, 0.4);

}

th, td {
  border: 2px solid #32a8a4;
  width: 30%;
  padding: 5px;

}
