.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("submit.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

body {
  background-color: #b0a7b0;
  font-family: monospace;
  margin: 30px;
  color: #a432a8;
  font-size: 20px;
}



}

h2, h3 {
  color: #32a8a4;

}

h6 {
  color: #32a8a4;

}
