header img {
    width: 100%;
    height: 300px;
}

body {
  background-color: black;
  color: white;
  font-size: 30px;
  font-family: cursive;
}

nav {
  background-color: #dedcdc;
  padding: 5px;
  font-family: monospace;
}

nav a:link {
  color: red;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  margin: 100px;
}

nav a:visited {
color: green;

}

nav a:hover {
  color: blue;
  border-bottom: 2px solid;
}

ol {
  float: right;
  margin-right: 300px;
  margin-top: 100;
  font-size: 25px;
}

.leftbox {
  float: left;
  width: 50%;
}


img {
  height: 10%;
  width: auto;
  position: relative;
}

.bodyimage img {
  max-width: 50%;
  max-height: 300px;
  margin-top: 20px;
  margin-left: 100px;
}

#budget {
  float: right;
  width: 50%;
}

table {
  padding: 10px;
  border: 2px solid white;
  border-collapse: collapse;
  font-weight: bold;
  font-size: 15px;
  margin-top: 150px;
  margin-left: 30px;
}


th, td {
  border: 2px solid white;
  width: 30%;
  padding: 5px;
  text-align: center;
  font-size: 30px;
}

.bottom img {
  width: 100%;
  height: 550px;
}
